body,
div,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
form,
input,
textarea,
select,
span,
a,
img {
  margin: 0;
  padding: 0;
  border: none;
}

:root {
  --themeColor: #cd0215;
  /* 
    css变量，通过var调用
    color: var(--themeColor);
  */
}

body {
  background-size: cover;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #2a2a2a;
}

a {
  color: #2a2a2a;
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

img {
  border: none;
  background: none;
  vertical-align: middle;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.main {
  width: 1152px;
  margin: 0 auto;
}